<link rel="stylesheet" href="/css/page_add_service.css">
<div class="container">
    <form action="/country/add" method="post">
        <label>
            Название:
            <input type="text" name="name" />
        </label>
        <button class="btn btn-blue" type="submit">Создать</button>
    </form>
</div>